/* Layout */
* {
	margin:0;
	padding:0;
}

html, body {
	margin:0;
	padding:0;
	height: 100%;
}

body {
	background:url("bgnoise_lg.png");
}

nav, section, footer {
	margin:0 auto;
	width:960px;
	position:relative;
	font-size:16px;
}

nav, footer {
	border:3px double #bbb;
	position:relative;
	background:#333;
	opacity:0.6;
	color:#fff;
	box-shadow:0 0 60px #333;
}

/*aside {
	float:right;
	width:150px;
}*/

aside#braces {
	float:right;
	width:250px;
	height:360px;
	font-size:290px;
	opacity:0.25;
	overflow:hidden;
	-webkit-transform:rotate(25deg);
	-moz-transform:rotate(25deg);
	-ms-transform:rotate(25deg);
	-o-transform:rotate(25deg);
}

section, aside {
	padding:10px;
}

article#welcome {
	margin-left:25px;
}

section#project-wrapper {
	margin:0 auto;
	width:76%;
}

section#project-list, section#like {
	clear:both;
	text-align:center;
}

#jquery, #design, #programming {
	display:inline-block;
	width:200px;
	padding:10px;
	margin:10px;
	border-radius:20px 0 20px 0;
	text-align:center;
	opacity:0.75;
	vertical-align:top;
}

.arr {
	background:#A73232;
	opacity:0.75;
}

.gee {
	background:#597001;
	opacity:0.75;
}

.bee {
	background:#42566A;
	opacity:0.75;
}

.like-list {
	display:inline-block;
	width:25%;
	padding:10px;
	margin:10px;
	border-radius:20px 0 20px 0;
	text-align:center;
	vertical-align:top;
	position:relative;
}

div.project {
	padding:15px;
}

div.project img {
	float:right;
	margin-left:5px;
	-moz-box-shadow:0 0 25px #333;
	-webkit-box-shadow:0 0 25px #333;
	box-shadow:0 0 25px #333;
}

div.project div.list {
	display:inline-block;
	margin-right:25px;
	max-width:400px;
	vertical-align:top;
}

div.list ul {
	margin-left:20px;
}

section#contact {
	min-height:500px;
}

div.lyrics {
	float:left;
	width:33%;
}

div#contact-form {
	float:right;
	width:66%;
}

.resSubTitle, .resDeets{
	display:inline-block;
}

.resSubTitle {
	margin-right:2px;
	width:150px;
	vertical-align:top;
}

.resDeets {
	padding-left:10px;
	border-left:1px solid #bbb;
	width:700px;
}

.resDeets ul {
	padding-left:18px;
}

#wisdom {
	display:inline-block;
	float:right;
	padding-right:25px;
	width:520px;
	height:125px;
}

#people {
	display:inline-block;
	border-right:1px dashed #CCC;
	border-left:1px dashed #ccc;
	float:right;
	padding-right:25px;
	height:125px;
}

#friends {
	display:inline-block;
	float:right;
	padding-right:25px;
	height:125px;
}


/* Typography */
article a, aside a {
	color:#597001;
	text-decoration:none;
}

section h1, section h2, article h1, article h2, aside h1, aside h2 {
	font-style:italic;
}

#welcome h1 {
	font-size:35px;
	margin: 20px 0;
}

article p, aside p {
	font-size:18px;
	margin:20px 0;
}

nav h1, nav p {
	text-align:center;
	margin-bottom:2px;
	margin-top:-5px;
}

nav h1 {
	font-weight:normal;
	font-style:italic;
	font-size:25px;
}

nav p {
	font-size:20px;
}

header a {
	color:#fff;
	text-decoration:none;
}

#welcome h2 {
	font-size:35px;
}

#welcome p {
	font-size:25px;
}

.arr a, .gee a, .bee a {
	color:#fff;
	font-weight:bold;
	display:block;
}

.arr:hover h1, .gee:hover h1, .bee:hover h1 {
	text-shadow:0 0 20px #fff;
}

.like-list a {
	text-align:left;
}

.like-list a:after {
	content:attr(title);
	margin-left:2px;
	opacity:0.5;
	font-size:80%;
	text-transform:lowercase;
	position:absolute;
	right:10px;
	text-decoration:none !important;
}

.arr h1, .gee h1, .bee h1 {
	font-size:20px;
	font-style:italic;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}

#jquery p, #design p, #programming p {
	display:block;
	text-decoration:none;
	color:white;
	font-weight:bold;
	cursor:pointer;
}

#jquery p:hover, #design p:hover, #programming p:hover {
	text-decoration:underline;
}

section h1 {
	font-size:30px;
	font-style:italic;
}

section#project-details h2 {
	font-size:20px;
	font-style:italic;
	margin-top:10px;
}

section a {
	text-decoration:none;
	color:#597001;
}

section a:hover {
	text-decoration:underline;
}

::selection {
	background-color: #97A36D;
	color: #fff;
}

::-moz-selection {
	background-color: #97A36D;
	color: #fff;
}

div.lyrics p {
	font-size:22px;
	margin-left:35px;
}

div.lyrics h1 {
	margin-left:35px;
	margin-bottom:15px;
}

div.lyrics span.note {
	color:#597001;
	font-size:16px;
}

div.lyrics p.footnote {
	font-size:16px;
}

#wisdom h3, #people h3, #friends h3 {
	margin:5px 15px;
	font-style:italic;
	font-weight:normal;
}

#people ul, #friends ul {
	margin:5px 0;
	list-style:none;
}


/* Menu */	
nav {
	border:3px double #bbb;
	border-radius:0 0 25px 25px;
}

nav, nav ul, nav ul li {
	height:70px;
	margin-top:0;
	margin-bottom:0;
}

nav ul {
	list-style:none;
	padding:0px 0px;
}

nav ul#menu-left {
	float:left;
	padding-right:5px;
}

nav ul#menu-left li {
	padding-left:60px;
}

nav ul#menu-right {
	float:right;
	padding-left:5px;
}

nav ul#menu-right li {
	padding-right:60px;
}

nav li {
	display:inline-block;
	vertical-align:middle;
}

nav span.amp {
	font-size:30px;
	color:#B3E002;
	display:inline-block;
	position:relative;
	top:10px;
	font-style:italic;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
}

nav a#home {
	display:block;
	width:300px;
	margin:0 auto;
}

nav a#home:hover span {
	text-shadow: 0 0 8px #fff;
}

nav ul li a {
	text-decoration:none;
	font-size:24px;
	display:block;
	height:70px;
	line-height:70px;
	background-position:0 10px;
	background-repeat:no-repeat;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
}

nav ul li a:hover {
	line-height:50px;
	background-position:0 0;
	background-image: -webkit-radial-gradient(50% 100%, circle, #fff, #333 35%);
	background-image: -moz-radial-gradient(50% 100%, circle, #fff, #333 35%);
	background-image: -ms-radial-gradient(50% 100%, circle, #fff, #333 35%);
	background-image: -o-radial-gradient(50% 100%, circle, #fff, #333 35%);
	background-image: radial-gradient(50% 100%, circle, #fff, #333 35%);
}


/* Footer */
footer {
	border-radius:25px;
	height:175px;
	clear:both;
}

footer #friends ul, footer #people ul {
	padding-left:35px;
}

footer #friends li, footer #people li {
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
}

footer #friends li:hover, footer #people li:hover {
	margin-left:10px;
}

footer a {
	color:#B3E002;
	text-decoration:none;
}

footer a.fb:before {
	content:url(fb.png);
	position:relative;
	left:-4px;
	top:3px;
}

footer a.twitter:before {
	content:url(twitter.png);
	position:relative;
	left:-4px;
	top:3px;
}

footer a.gplus:before {
	content:url(gplus.png);
	position:relative;
	left:-4px;
	top:3px;
}

footer a.linkedin:before {
	content:url(linkedin.png);
	position:relative;
	left:-4px;
	top:3px;
}

footer a.person:before {
	content:url(person.png);
	position:relative;
	left:-4px;
	top:3px;
}

footer a.idiot:before {
	content:url(noggin.png);
	position:relative;
	left:-4px;
	top:3px;
}

footer a.verou:before {
	content:url(lv.png);
	position:relative;
	left:-4px;
	top:3px;
}

footer a.css:before {
	content:url(css.png);
	position:relative;
	left:-4px;
	top:3px;
}

footer #tagline {
	position:relative;
	text-align:center;
	margin:10px 0;
}

footer span#copy {
	font-weight:bold;
}

footer span#shoutout {
	font-style:italic;
	margin-left:8px;
}

footer hr {
	width:90%;
	border:none;
	border-top:1px dashed #ccc;
	height:3px;
	margin:0 auto;
	clear:both;
}

footer hr:before {
	content:"\A7";
	position:relative;
	left:50%;
	top:-11px;
	color:#B3E002;
}

footer #wisdom p#tweet {
	margin-top:20px;
}

footer #wisdom p#tweet:before {
	content:"\201C";
	font-size:100px;
	position:relative;
	float:left;
	top:-35px;
	font-family:"sorts-mill-goudy-1","sorts-mill-goudy-2",serif;
	font-style:italic;
	opacity:0.33;
	color:#fff;
}

footer #wisdom p#posted {
	text-align:right;
	font-style:italic;
}